---
layout: main.njk
title: Mohit Karekar
coverImage: img/cover.jpg
---
<style>
.header {
    display: flex; 
    justify-content: space-between;
}
.head {
}
.headImage {
    margin-right: 0
}
.mainLine {
    margin: 0;
}
.shortBio {
    margin-top: 0px;
    opacity: 0.5;
    font-style: italic;
}
.mainCover {
    position: relative;
    margin: 20px 0;
}
.mainCover img {
    max-width: 100%;
    display: block;
}
.photoCaption {
    position: absolute;
    bottom: 0px;
    right: 20px;
    color: white;
}
.tabs {
    margin-top: 10px;
}
.tab {
    font-size: 20px;
}
.down {
    display: flex;
}
.downLeft, .downRight, .interesting {
    padding: 10px;
}
.downLeft {
    flex: 0.6;
    margin-right: 10px;
    background: #fee;
}
.downLeft h2, .downRight h2, .interesting h2 {
    margin: 0;
}
.downRight {
    flex: 0.4;
    background: #dff;
}
.post {
    margin-top: 5px;
}
.interesting {
    background: #efe;
    margin-top: 10px;
}
.socials {
    margin-top: 10px;
}
.social {
    max-width: 30px;
    margin-left: 10px;
    transition: all 200ms ease-in;
}
.social:hover {
    opacity: 0.8;
}
@media only screen and (max-width: 680px) {
    .down {
        flex-direction: column;
    }
    .downLeft {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .header {
        flex-direction: column;
    }
    .social {
        margin-left: 0;
        margin-right: 10px;
    }
}
</style>
<div style="margin-bottom: 20px;">
<div class="mainCover">
    <img lazy alt="Cover" src="{{coverImage}}" />
    <p class="photoCaption">Goa - November, 2019</p>
</div>
<section class="header">
    <div class="head">
        <h1 class="mainLine">Hello there, I'm Mohit.</h1>
        <p class="shortBio">software_engineer, javascript, python, open_source</p>
    </div>
    <div class="socials">
        <a target="_blank" href="https://github.com/mohitk05"><img class="social" src="/img/github.png"/></a>
        <a target="_blank" href="https://twitter.com/mohitkarekar"><img class="social" src="/img/twitter.png"/></a>
    </div>
</section>
<div class="tabs">
    <a class="tab" href="/posts">Blog</a>
    •
    <a class="tab" href="/work">Work</a>
    •
    <a class="tab" target="_blank" href="https://docs.google.com/document/d/1239BbrB9jy8trrCkwhFwJuxBy8iwHrEd62rVPXk_Zrg/edit?usp=sharing">Resume</a>
</div>
<p></p>
<div class="down">
    <section class="downLeft">
        <h2>Recent posts. <em><a href="/posts">See all.</a></em></h2>
        <div class="posts">
            {%- for post in collections.posts | reverse | slice3 -%}
                <div class="post">
                    <span class="postTitle"><a href="{{ post.url }}">{{ post.data.title }}</a></span>
                </div>
            {%- endfor -%}
        </div>
    </section>
    <section class="downRight">
        <h2>Currently reading.</h2>
        <div class="posts">
            {%- for c in currentlyReading | reverse | slice3 -%}
                <div class="post">
                    <span class="postTitle"><a target="_blank" href="{{ c.url }}">{{ c.title }}</a></span>
                </div>
            {%- endfor -%}
        </div>
    </section>
</div>
<section class="interesting">
    <h2>Interesting things I found on the Internet. <em><a href="/interesting">See all.</a></em></h2>
    <div class="posts">
        {%- for c in interesting -%}
            <div class="post">
                <span class="postTitle"><a target="_blank" href="{{ c.url }}">{{ c.title }}</a></span>
            </div>
        {%- endfor -%}
    </div>
</section>
</div>
