---
layout: main.njk
title: Mohit Karekar
coverImage: img/cover.jpg
---
<style>
.header {
    display: flex; 
    justify-content: space-between;
}
.head {
}
.headImage {
    margin-right: 0
}
.mainLine {
    margin: 0;
    font-size: 2em;
    font-family: 'Source Code Pro', monospace;
}
.shortBio {
    margin-top: 0px;
    opacity: 0.8;
    font-style: italic;
}
.mainCover {
    position: relative;
    margin: 20px 0;
}
.mainCover img {
    max-width: 100%;
    display: block;
}
.photoCaption {
    position: absolute;
    bottom: 0px;
    right: 20px;
    color: white;
}
.tabs {
    margin-top: 10px;
}
.tab {
    font-size: 20px;
}
.down {
    display: flex;
}
section {
    padding: 10px;
}
.downLeft {
    flex: 0.6;
    margin-right: 10px;
    background: #fee;
}
.downLeft h3, .downRight h3, .interesting h3 {
    margin: 0;
}
.downRight {
    flex: 0.4;
    background: #dff;
}
.post {
    margin-top: 10px;
}
.postTitle {
    padding: 15px 0;
}
.interesting {
    background: #efe;
    margin-top: 10px;
}
.socials {
    margin-top: 10px;
}
.social {
    max-width: 30px;
    margin-left: 10px;
    transition: all 200ms ease-in;
}
.social:hover {
    opacity: 0.8;
}
.detailedBlogs {
    display: flex;
    flex-wrap: wrap;
}
.detailedBlog {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.detailedBlog:hover {
    background: #f2f2f2;
}
.detailedBlog h4 {
    margin: 5px 0;
}
.detailedBlogImage {
    display: block;
    height: 100px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.detailedBlog-description {
    margin: 5px 0;
}
button {
    background: #f5f5f5;
    border: none;
    font-size: 1em;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
button:hover {
    background: #eee;
}
@media only screen and (max-width: 768px) {
    .down {
        flex-direction: column;
    }
    .downLeft {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .header {
        flex-direction: column;
    }
    .social {
        margin-left: 0;
        margin-right: 10px;
    }
}
</style>
<div style="margin-bottom: 20px;">
<div class="mainCover">
    <img lazy alt="Cover" src="{{coverImage}}" />
    <p class="photoCaption">Goa - November, 2019</p>
</div>
<div class="header">
    <div class="head">
        <h1 class="mainLine">mohit_karekar</span></h1>
        <p class="shortBio">software_engineer, javascript, python, open_source</p>
    </div>
    <div class="socials">
        <a target="_blank" href="https://github.com/mohitk05"><img alt="github" class="social" src="/img/github.png"/></a>
        <a target="_blank" href="https://twitter.com/mohitkarekar"><img alt="twitter" class="social" src="/img/twitter.png"/></a>
    </div>
</div>
<div class="tabs">
    <a class="tab" href="/posts">Blog</a>
    •
    <a class="tab" href="/work">Work</a>
    •
    <a class="tab" target="_blank" href="https://docs.google.com/document/d/1239BbrB9jy8trrCkwhFwJuxBy8iwHrEd62rVPXk_Zrg/edit?usp=sharing">Resume</a>
</div>
<p></p>
<div class="down">
    <section class="downLeft">
        <h3>Recent posts</h3>
        <div class="posts">
            {%- for post in collections.posts | reverse | slice3 -%}
                <div class="post">
                    <a class="postTitle" href="{{ post.url }}">{{ post.data.title }}</a>
                </div>
            {%- endfor -%}
        </div>
    </section>
    <section class="downRight">
        <h3>Currently reading</h3>
        <div class="posts">
            {%- for c in currentlyReading | reverse | slice3 -%}
                <div class="post">
                    <a class="postTitle" target="_blank" href="{{ c.url }}">{{ c.title }}</a>
                </div>
            {%- endfor -%}
        </div>
    </section>
</div>
<section class="interesting">
    <h3>Interesting things I found on the Internet</h3>
    <div class="posts">
        {%- for c in interesting -%}
            <div class="post">
                <a class="postTitle" target="_blank" href="{{ c.url }}">{{ c.title }}</a>
            </div>
        {%- endfor -%}
    </div>
</section>
<div>
    <h2 style="padding-left: 10px;">Blogs</h2>
    <div class="detailedBlogs">
    {%- for post in collections.posts | reverse | slice4 -%}
        <div class="detailedBlog" onclick="window.location = '{{post.url}}'">
            <h4 style="margin: 0">{{ post.data.title }}</h4>
            <p class="detailedBlog-description">{{ post.template.frontMatter.excerpt | excerptise }}</p>
        </div>
    {%- endfor -%}
    </div>
    <button onclick="window.location = '/posts'">See all Posts</button>
</div>
</div>
