---
layout: main.njk
title: Interesting things I found on the Internet.
description: I love reading on the internet. And frequently I come accross amazing things.
---
<style>
.title {
    margin-bottom: 5px;
}
.posts {
    margin: 10px auto;
}
.tagline {
    margin-botton: 10px;
    font-size: 20px;
}
.postTitle {
    margin: 0;
}
.postTitle a {
    text-decoration: none;
    color: blue;
}
.post {
    font-size: 20px;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}
.bullet {
    margin: 0 5px;
}
@media only screen and (max-width: 680px) {
    .title {
        margin-top: 0
    }
    .post {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .bullet {
        display: none;
    }
}
</style>
<a href="/">← home</a>
<h1 class="title">{{ title }}</h1>
<em class="tagline">{{ description }}</em>
<hr/>
<div class="posts">
{%- for i in interesting | reverse -%}
    <div class="post">
        <li class="postTitle"><a href="{{ i.url }}">{{ i.title }}</a></li>
    </div>
{%- endfor -%}
</div>