---
layout: main.njk
title: Posts
---
<span>
    <a href="/">home</a>
    <span>/</span>
    <span>all posts</span>
</span>
<h1>Posts</h1>
<p>I occasionally write my heart and brains out here. This collection is made to last.</p>
<hr/>
<div>
{%- for post in collections.posts | reverse -%}
    <div style="display: flex; align-items: center; margin-bottom: 10px">
        <span style="flex: 0.2;font-size: 14px">{{ post.date | dateReadable }}</span>
        <b style="flex: 0.7;margin-left:10px">
            {%if post.data.external %}
                <a href="{{ post.data.external }}">{{ post.data.title }}</a>
            {% else %}
                <a href="{{ post.url }}">{{ post.data.title }}</a>
            {% endif %}
        </b>
    </div>
{%- endfor -%}
</div>
<script async src="https://f.convertkit.com/ckjs/ck.5.js"></script>
