---
layout: main.njk
title: Posts
---
<style>
.title {
    margin-bottom: 5px;
}
.posts {
    margin: 10px auto;
}
.tagline {
    margin: 0;
    margin-botton: 10px;
}
.postTitle {
    margin: 2px;
    font-weight: bold;
}
.postTitle a {
    color: inherit;
}
.post {
    font-size: 1em;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
}
.bullet {
    margin: 0 5px;
}
@media only screen and (max-width: 768px) {
    .title {
        margin-top: 0
    }
    .post {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .bullet {
        display: none;
    }
}
</style>
<span>
    <a href="/">home</a>
    <span>/</span>
    <span>all posts</span>
</span>
<h1 class="title">Posts</h1>
<p class="tagline">I occasionally write my heart and brains out here. This collection is made to last.</p>
<hr/>
<div class="posts">
{%- for post in collections.posts | reverse -%}
    <div class="post">
        <p class="postTitle"><a href="{{ post.url }}">{{ post.data.title }}</a></p>
        <span class="bullet">•</span>
        <em>{{ post.date | dateReadable }}</em>
    </div>
{%- endfor -%}
</div>