---
layout: main.njk
title: Posts
---
<span>
    <a href="/">home</a>
    <span>/</span>
    <span>all posts</span>
</span>
<h1>Posts</h1>
<p>I occasionally write my heart and brains out here. This collection is made to last.</p>
<hr/>
<div>
{%- for post in collections.posts | reverse -%}
    <div>
        <span>
            {%if post.data.external %}
                <a href="{{ post.data.external }}">{{ post.data.title }}</a>
            {% else %}
                <a href="{{ post.url }}">{{ post.data.title }}</a>
            {% endif %}
        </span>
        <span>•</span>
        <em>{{ post.date | dateReadable }}</em>
    </div>
{%- endfor -%}
<script async src="https://f.convertkit.com/ckjs/ck.5.js"></script>
</div>