---
layout: with_newsletter_cta_bottom.njk
title: Subscribe
---
<style>
.title {
    margin-bottom: 5px;
}
.subscribe {
	margin: 20px 0;
}
.seva-custom-content {
	padding: 10px;
	border:1px solid #e3e3e3;
}
</style>
<span>
    <a href="/">home</a>
    <span>/</span>
    <span>subscribe</span>
</span>
<div>
    <h1 class="title">Subscribe</h1>
    <div>
        <img src="/img/covers/subscribe.png" height="auto">
    </div>
    <p class="tagline">Subscribe to my newsletter and receive updates whenever I write something new. In addition to my posts, I promise curated links and beautiful music from the internet too ❤︎</p>
    <p>I usually write about <b>technology, philosophy and art</b>, if that encourages you to subscribe!</p>
    <p>Doubtful? <a href="/posts">Read some of my posts here.</a></p>
</div>
