---
layout: main.njk
title: Mohit Karekar
coverImage: img/cover.jpg
---
<span>
    <a href="/">home</a>
    <span>/</span>
    <span>work</span>
</span>
<div>
    <h1 class="title">Work</h1>
    <p class="tagline">Orgs I've worked with, and some personal work.</p>
    <hr/>
    <div class="work">
        <h2 class="type">{{ work.experience.title }}</h2>
        <table>
            <tbody>
            {%- for item in work.experience.items | reverse -%}
                <tr>
                    <td><a href="{{item.link}}">{{ item.title }}</a></td>
                    <td>
                        {{ item.position }} • <span>{{ item.dateRange }}</span>
                        <p>{{ item.description }}</p>
                    </td>
                </tr>
            {%- endfor -%}
            </tbody>
        </table>
        <h2 class="type">{{ work.projects.title }}</h2>
        <table>
            <tbody>
            {%- for item in work.projects.items -%}
                <tr>
                    <td><a href="{{item.link}}">{{ item.title }}</a></td>
                    <td>{{ item.description }}</td>
                </tr>
            {%- endfor -%}
            </tbody>
        </table>
    </div>
</div>
