---
layout: main.njk
---
<style>
main {
	margin-bottom: 30px;
}
code[class*='language-'],
pre[class*='language-'] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	color: #eee;
	background: #2f2f2f;
	font-family: Roboto Mono, monospace;
	font-size: 1em;
	line-height: 1.5em;
	max-height: 500px;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

code[class*='language-']::-moz-selection,
pre[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-'] ::-moz-selection {
	background: #363636;
}

code[class*='language-']::selection,
pre[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-'] ::selection {
	background: #363636;
}

:not(pre) > code[class*='language-'] {
	white-space: normal;
	border-radius: 0.2em;
	padding: 0.1em;
}

pre[class*='language-'] {
	overflow: auto;
	position: relative;
	margin: 0.5em 0;
	padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
	color: #fd9170;
}

[class*='language-'] .namespace {
	opacity: 0.7;
}

.token.atrule {
	color: #c792ea;
}

.token.attr-name {
	color: #ffcb6b;
}

.token.attr-value {
	color: #a5e844;
}

.token.attribute {
	color: #a5e844;
}

.token.boolean {
	color: #c792ea;
}

.token.builtin {
	color: #ffcb6b;
}

.token.cdata {
	color: #80cbc4;
}

.token.char {
	color: #80cbc4;
}

.token.class {
	color: #ffcb6b;
}

.token.class-name {
	color: #f2ff00;
}

.token.comment {
	color: #616161;
}

.token.constant {
	color: #c792ea;
}

.token.deleted {
	color: #ff6666;
}

.token.doctype {
	color: #616161;
}

.token.entity {
	color: #ff6666;
}

.token.function {
	color: #c792ea;
}

.token.hexcode {
	color: #f2ff00;
}

.token.id {
	color: #c792ea;
	font-weight: bold;
}

.token.important {
	color: #c792ea;
	font-weight: bold;
}

.token.inserted {
	color: #80cbc4;
}

.token.keyword {
	color: #c792ea;
}

.token.number {
	color: #fd9170;
}

.token.operator {
	color: #89ddff;
}

.token.prolog {
	color: #616161;
}

.token.property {
	color: #80cbc4;
}

.token.pseudo-class {
	color: #a5e844;
}

.token.pseudo-element {
	color: #a5e844;
}

.token.punctuation {
	color: #89ddff;
}

.token.regex {
	color: #f2ff00;
}

.token.selector {
	color: #ff6666;
}

.token.string {
	color: #a5e844;
}

.token.symbol {
	color: #c792ea;
}

.token.tag {
	color: #ff6666;
}

.token.unit {
	color: #fd9170;
}

.token.url {
	color: #ff6666;
}

.token.variable {
	color: #ff6666;
}
.title {
	
}
.tag {
	color: salmon;
	cursor: pointer;
}
.tag:hover {
	opacity: 0.8;
}
.topic {
	font-size: 12px;
}
.topic:after {
	content: ","
}
.topic:last-child:after {
	content: ""
}
p code {
	color: salmon;
	background: rgba(255,238,238, 0.8);
	padding: 2px 5px;
	font-size: 0.9em;
}
table {
    border: solid 1px #ccc;
    border-collapse: collapse;
    border-spacing: 0;
	margin: 10px 0;
	font-size: 0.9em;
	width: 100%;
}
table thead th {
    background-color: #eee;
    border: solid 1px #ccc;
    padding: 10px;
    text-align: left;
}
table tbody td {
    border: solid 1px #ccc;
    color: #333;
    padding: 10px;
}
.content {
	line-height: 1.8;
}
.content img {
	max-width: 100%;
}
.content code {
	cursor: text;
	font-family: 'Source Code Pro', monospace;
}
.coverImage {
{% if coverImageHeight %}
	height: {{ coverImageHeight }};
{% else %}
	height: 400px;
{% endif %}
{% if coverImagePosition %}
	background-position: {{ coverImagePosition }};
{% endif %}
{% if coverImageSize %}
	background-size: {{ coverImageSize }};
{% else %}
	background-size: cover;
{% endif %}
	background-repeat: no-repeat;
}
blockquote {
	background: #efe;
	padding: 0 10px;
	margin: 0;
}
@media only screen and (max-width: 768px) {
	.coverImage {
		height: 200px;
	}
	.content {
		color: black;
	}
}
</style>
<main>
	<a href="/posts">← all posts</a>
	<h1 class="title">{{ title }}</h1>
	<span>
		<em>{{ page.date | dateReadable }}</em>
		•
		{% for tag in tags %}
			<a href="/posts?tag={{tag}}" class="tag">{{ tag }}</a>
		{% endfor %}
		{% if topics and topics.length %}
			•
			{% for topic in topics %}
				<span class="topic">{{ topic }}</span>
			{% endfor %}
		{% endif %}
	</span>
	<br/>
	{% if coverImage %}
		<br/>
		<div class="coverImage" style="background-image: url('{{ coverImage }}')"></div>
	{% endif %}
	<div class="content">{{ content | safe }}</div>
    <hr class="container"/>
	<div class="profile">
        <div class="topRow">
            <div class="profileImage"></div>
            <div>
                <h1 class="name">Mohit Karekar</h1>
                <p class="shortBio">Software Engineer | JavaScript | Open Source</p>
            </div>
        </div>
    </div>
	<script src="https://utteranc.es/client.js"
        repo="mohitk05/my-website"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
		label="blog-comment"
        async>
    </script>
</main>