---
layout: with_newsletter_cta_bottom.njk
---

<link rel="stylesheet" href="/css/prism.css" />
<style>
  {% if pageBackgroundImage %}
  .bg-image {
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100vh;
  	width: 100vw;
  	z-index: -1;
  	background: white;
  	background-image: url("{{ pageBackgroundImage }}");
  	background-repeat: no-repeat;
  	background-blend-mode: hard-light;
  	background-position: 50% 20%;
  	opacity: 10%;
  }
  {% endif %}
  .content img {
  	max-width: 90%;
  	height: auto;
  }
  .coverImage {
  {% if coverImageHeight %}
  	height: {{ coverImageHeight }};
  {% else %}
  	height: 400px;
  {% endif %}
  {% if coverImagePosition %}
  	background-position: {{ coverImagePosition }};
  {% else %}
  	background-position: center;
  {% endif %}
  {% if coverImageSize %}
  	background-size: {{ coverImageSize }};
  {% else %}
  	background-size: contain;
  {% endif %}
  	background-repeat: no-repeat;
  	margin-bottom: 16px;
  }
  .title {
  	line-height: 3rem;
  }
  @media only screen and (max-width: 640px) {
  	.coverImage {
  		{% if coverImageHeightMobile %}
  			height: {{ coverImageHeightMobile }};
  		{% else %}
  			height: 200px;
  		{% endif %}
  	}
  	.title {
  		line-height: 2.4rem;
  		margin-bottom: 0px;
  	}
  }
</style>
<div class="bg-image"></div>
<main>
  <span style="display: flex; justify-content: space-between">
    <span>
      <a href="/">home</a>
      <span>/</span>
      <a href="/posts">all posts</a>
      <span>/</span>
      <span>here</span>
    </span>
	<span title="{{ gardenTag }}" style="font-size:1.8rem;position:absolute;right:35px;">
		{% if gardenTag == "Evergreen" %}
  			🌲
  		{% elif gardenTag == "Tree" %}
  			🌳
  		{% elif gardenTag == "Seedling" %}
			🌱
  		{% endif %}
	</span>
  </span>
  <h1 class="title">{{ title }}</h1>
  <span>
    <em>{{ page.date | dateReadable }}</em>
    •
    <span>{{ content | timeToRead }}</span>
    • {% for tag in tags | tagFilter %}
    <a href="/tags/{{ tag }}" class="tag">{{ tag }}</a>
    {% endfor %}
  </span>
  <br />
  {% if coverImage %}
  <br />
  <div
    class="coverImage"
    style="background-image: url('{{ coverImage }}')"
  ></div>
  {% endif %}
  <article class="content">{{ content | safe }}</article>
  <div>
    {% set meaningfulTags = tags | tagFilter %}
    {% set combinedPosts = collections | groupTags(meaningfulTags) %}
    {%- if combinedPosts | nearestTwoPosts(page.url) | length -%}
    <h1>Related posts</h1>
    <ul class="related">
    {%- for post in combinedPosts | nearestTwoPosts(page.url) -%}
      <li>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
    {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>
  <script
    src="https://utteranc.es/client.js"
    repo="mohitk05/my-website"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    label="blog-comment"
    async
  ></script>
</main>
