<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if topics and tags %}
    <meta name="keywords" content="{{ topics.join(',') + ',' + tags.join(',') if topics and tags else tags.join(',') }}">
    {% elif tags %}
    <meta name="keywords" content="{{ tags.join(',') }}">
    {% endif %}
    <meta name="description" content="{{ description if description else 'Hello! I am Mohit Karekar. Watch my work and read blog posts I occassionaly write. I am a software engineer and a curious reader. I currently work at upGrad as a Software Engineer maily working in JavaScript.' }}">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@MohitKarekar"/>
    <meta property="og:title" content="{{ title if title else 'Mohit Karekar - Software Engineer' }}"/>
    <meta property="og:url" content="{{ 'https://mohitkarekar.com' + page.url if page and page.url else 'https://mohitkarekar.com' }}"/>
    <meta property="og:description" content="{{ description if description else 'Hello! I am Mohit Karekar. Watch my work and read blog posts I occassionaly write. I am a software engineer and a curious reader.' }}"/>
    {% if coverImage and 'http' in coverImage %}
        <meta property="og:image" content="{{ coverImage if coverImage else '/mohit.jpg' }}"/>
    {% else %}
        <meta property="og:image" content="{{ 'https://mohitkarekar.com' + coverImage if coverImage else 'https://mohitkarekar.com/img/icon.jpeg' }}"/>
    {% endif %}
    <meta property="og:type" content="article" />
    {# <link rel="manifest" href="/manifest.json"> #}
    <link rel="icon" href="/img/icon.jpeg">
    <link id="stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

	<title>{{ title }}</title>
</head>
<body>
    <div class="container main">{{ content | safe }}</div>
    {# <div class="sideProfile">
        <div class="profileImage" style="width: 100px;height: 100px; border-radius: 0px"></div>
        <div style="margin-top: 8px">
            <h1 class="name">Mohit Karekar</h1>
            <serif><em class="shortBio" style="font-size: 12px;">software engineer, javascript, open source, experimenting with rust</em></serif>
        </div>
        <div class="globalSocials">
            <a target="_blank" href="https://github.com/mohitk05"><img alt="github" class="globalSocial" src="/img/github.png"/></a>
            <a target="_blank" href="https://twitter.com/mohitkarekar"><img alt="twitter" class="globalSocial" src="/img/twitter.png"/></a>
        </div>
    </div> #}
    <footer style="text-align: center; margin-top: 20px">© Mohit Karekar • <a href="mailto:karekar.mohit@gmail.com">karekar.mohit@gmail.com</a></footer>
    <script>
        console.log('%cHello there! Welcome to our friendly abode, the console. Do you have a dev question? Or do you want to have a chat?\nIn any case, drop a mail to karekar.mohit@gmail.com ❤️', 'background: #16161d; color: white; font-size: 14px; padding: 10px; margin: 5px')
    </script>
</body>
</html>