<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if tags %}
    <meta name="keywords" content="{{ tags.join(',') }}">
    {% endif %}
    <meta name="description" content="{{ description if description else 'Hello! I am Mohit Karekar. Watch my work and read blog posts I occassionaly write. I am a software engineer and a curious reader. I currently work at upGrad as a Software Engineer maily working in JavaScript.' }}">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@MohitKarekar"/>
    <meta property="og:title" content="{{ title if title else 'Mohit Karekar - Software Engineer' }}"/>
    <meta property="og:url" content="{{ 'https://mohitkarekar.com' + page.url if page and page.url else 'https://mohitkarekar.com' }}"/>
    <meta property="og:description" content="{{ description if description else 'Hello! I am Mohit Karekar. Watch my work and read blog posts I occassionaly write. I am a software engineer and a curious reader.' }}"/>
    {% if coverImage and 'http' in coverImage %}
        <meta property="og:image" content="{{ coverImage if coverImage else '/mohit.jpg' }}"/>
    {% else %}
        <meta property="og:image" content="{{ 'https://mohitkarekar.com' + coverImage if coverImage else 'https://mohitkarekar.com/img/icon.jpeg' }}"/>
    {% endif %}
    <meta property="og:type" content="article" />
    <link rel="icon" href="/img/icon.jpeg">
	<title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <style>a{color: crimson;transition: color 200ms;}a:hover{color: red}table{width:100%}body{font-size:1.3rem;font-family:'Cormorant Garamond', serif;max-width:700px}td{word-break:keep-all}@media only screen and (max-width: 600px){body{padding: 1rem}h1{font-size: 2.2rem}}h1,h2,h3{font-family:'Helvetica Neue Bold'}
    code{font-size: 1rem}
    {# @media (prefers-color-scheme: dark)
    {body{background:#16161d;}table{border-top: 2.27px solid grey;border-bottom: 2.27px solid grey;}pre code,blockquote,code,pre{color:#333;background:white}a{color: pink;}a:hover{color: pink}a:visited{color:pink}} #}
    </style>
</head>
<body>
    <div class="container main">{{ content | safe }}</div>
    <footer style="text-align: center; margin-top: 20px">© Mohit Karekar • <a href="mailto:karekar.mohit@gmail.com">karekar.mohit@gmail.com</a></footer>
    <script>
        console.log('Hello there! Welcome to our friendly abode, the console. Do you have a dev question? Or do you want to have a chat?\nIn any case, drop a mail to karekar.mohit@gmail.com ❤️')
    </script>
</body>
</html>