---
layout: with_newsletter_cta_bottom.njk
---
<link rel="stylesheet" href="/css/highlight.css" />
<style>
main {
	margin-bottom: 30px;
}
.tag {
	color: tomato;
	cursor: pointer;
}
.tag:hover {
	opacity: 0.8;
}
.topic:after {
	content: ","
}
.topic:last-child:after {
	content: ""
}
p code {
	color: tomato;
	background: rgba(255,238,238, 0.8);
	padding: 2px 5px;
}
table {
    border: solid 1px #ccc;
    border-collapse: collapse;
    border-spacing: 0;
	margin: 10px 0;
	font-size: 0.9em;
	width: 100%;
}
table thead th {
    background-color: #eee;
    border: solid 1px #ccc;
    padding: 10px;
    text-align: left;
}
table tbody td {
    border: solid 1px #ccc;
    color: #333;
    padding: 10px;
}
.content {
	line-height: 1.8;
}
.content img {
	max-width: 100%;
}
.content code {
	cursor: text;
}
.coverImage {
{% if coverImageHeight %}
	height: {{ coverImageHeight }};
{% else %}
	height: 400px;
{% endif %}
{% if coverImagePosition %}
	background-position: {{ coverImagePosition }};
{% endif %}
{% if coverImageSize %}
	background-size: {{ coverImageSize }};
{% else %}
	background-size: cover;
{% endif %}
	background-repeat: no-repeat;
}
blockquote {
	background: #efe;
	padding: 0 10px;
	margin: 0;
}
.subscribe {
	margin: 20px 0;
}
.seva-custom-content {
	padding: 10px;
	border:1px solid #e3e3e3;
}
.profile {
	display: none;
}
@media only screen and (max-width: 768px) {
	.coverImage {
		height: 200px;
	}
	.profile {
		display: block;
	}
}
body.dark {
	background: #121212;
	color: #fdfdfd;
}
body.dark a {
	color: tomato;
}
body.dark p code {
	background: #2f2f2f;
}
body.dark blockquote {
	background: #222;
}
body.dark td {
	color: #ccc;
}
body.dark th {
	background: #333;
}
body.dark .seva-custom-content {
	background: #333;
	border: 1px solid #888;
}
body.dark form .form-body {
	background: #333;
	color: white;
}
</style>
<main>
	<span style="display: flex; justify-content: space-between">
		<span>
			<a href="/">home</a>
			<span>/</span>
			<a href="/posts">all posts</a>
			<span>/</span>
			<span>here</span>
		</span>
	</span>
	<h1 class="title">{{ title }}</h1>
	<span>
		<em>{{ page.date | dateReadable }}</em>
		•
		{% for tag in tags %}
			<a href="/tags/{{tag}}" class="tag">{{ tag }}</a>
		{% endfor %}
	</span>
	<br/>
	{% if coverImage %}
		<br/>
		<div class="coverImage" style="background-image: url('{{ coverImage }}')"></div>
	{% endif %}
	<div class="content">{{ content | safe }}</div>
	<div class="profile">
        <div class="topRow">
            <div class="profileImage"></div>
            <div>
                <h1 class="name">Mohit Karekar</h1>
                <p class="shortBio">Software Engineer | JavaScript | Open Source</p>
            </div>
        </div>
    </div>
	<script src="https://utteranc.es/client.js"
        repo="mohitk05/my-website"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
		label="blog-comment"
        async>
    </script>
</main>