.Blog {
    width: 700px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: #161616;
    padding: 0 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 740px) {
    .Blog {
        width: 90%;
        padding: 0 20px;
        margin-top: 10px;
    }
}