.Home {
    width: 700px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: #161616;
    padding: 0 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.project {
    margin: 0;
    margin-bottom: 15px;
}

a {
    color: #161616;
    text-decoration: none;
    display: block;
}

.title {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin: 0;
    margin-bottom: 1px;
}

.title:hover {
    color: #F37777;
}

.description {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media only screen and (max-width: 740px) {
    .Home {
        width: 90%;
        padding: 0 20px;
        margin-top: 10px;
    }
}