---
layout: main.njk
title: About Computing Systems
---

<div>
    <h1>{{ title }}</h1>
    <img src="/img/acs.png" style="position: relative;left:-35px;min-width:750px" >
    This is About Computing Systems, a newsletter sharing content on computing systems focusing on programming languages and software with a hint of computing history. 
    {% newsletter_cta "about-computer-systems-substack" %}
</div>